body {background-color: red;}

.header {text-align: center;
font-size: 50px;
font-family: sans-serif;}

.boton {text-align: center;}

.boton .boton-dentro {background-color: yellow;
font-size: 20px;
font-family: cursive;
margin-top: 5%;}

