* {background-image: url(../img/fondokratos.jpg);
    background-attachment: fixed;}

.Productos {background-image: url(../img/fondokratos.jpg);}


.header h1 {text-align: center;
background-image: url(../img/background.jpg);
height: 130px;
font-size: 100px;
color: brown;
text-shadow: 1px 1px #fff;
}

.boton {text-align: center;}
    
.boton .boton-dentro {background-color: yellow;
    font-size: 20px;
    font-family: cursive;
    margin-top: 2%;}

.Producto .card {border-color: cadetblue;}

.Producto .card .card-img-top {width: 239px;
height: 200px;}

.Producto .card .card-body .card-title {color: red;
text-shadow: 1px 1px #fff;
font-size: 25px;
margin-left: 10%;}

.Producto .card .card-body .card-text {font-size: 20px;
margin-left: 20%;}

.Producto .card .card-body .btn {font-size: 15px;
border-color: aqua;
position: absolute; top: 80%; left: 50%;
background-image: url(../img/fondopaisaje.jpg);}

.h2 {position: absolute; top: 140%; left: 25%;}



